body {
    background-color: #87CEEB;
    margin: 20px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

a {
    text-decoration: none;
    color: black;
}

.navbar{
    transition: 0.3s;
    padding: 5px;
    border-radius: 10px;
}

.navbar:hover {
    background-color: #6ec4e7;
    transition: 0.3s;
}

.table {
    padding: 10px;
}

th {
    padding-left: 20px;
    padding-bottom: 20px;
}

td {
    padding-left: 20px;
    padding-top: 20px;
}

.btn {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.retire {
    width: 120px;
    margin-left: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    transition: 0.3s;
}

.retire:hover {
    background-color: rgb(177, 176, 176);
    transition: 0.3s;
}

.supp {
    width: 120px;
    margin-left: 5px;
    padding: 10px;
    background-color: red;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    transition: 0.3s;
}

.supp:hover {
    background-color: rgb(194, 1, 1);
    transition: 0.3s;
}

.final {
    font-size: large;
    width: 120px;
    margin-left: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    transition: 0.3s;
}

.final:hover {
    background-color: rgb(151, 192, 151);
    transition: 0.3s;
}

.title {
    margin: 30px;
    width: 25rem;
}