body {
    background-color: #87CEEB;
}

nav {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

a {
    text-decoration: none;
    color: black;
}

.navbar{
    transition: 0.3s;
    padding: 5px;
    border-radius: 10px;
}

.navbar:hover {
    background-color: #6ec4e7;
    transition: 0.3s;
}


.list_products{
    margin-top: 50px;
    display: flex;
    width: 200px;
}

.product {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.product_price {
    font-size: larger;
}

.product_image {
    max-width:250px;
    border-radius: 10px;
}

.product_description {
    font-size: smaller;
}

.title {
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

.form {
    display: flex;
    justify-content: center;
    margin: 5px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.form_submit {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 15px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    transition: 0.3s;
}

.form_submit:hover {
    background-color: #6ec4e7;
    transition: 0.3s;
}

label {
    display: flex;
    justify-content: center;
}